// colors

$color-1: #3D315B; // Neptune
$color-2: #444B6E; // Chestnut Rose
$color-3: #708B75; // Tuna
$color-4: #9AB87A; // Equator
$color-ninja: #a2dc76; // Equator

$color-5: #f8f991; // Woodsmoke
$color-6: #ffffff; // White

// fonts 

$primary-font: 'PT Sans', sans-serif;

// side navigation size

$nav-width-small: 74px;
$nav-width-normal: 94px;
$loading-bar-width: 4px;

//animation

$animation-duration: 0.5s;