<main class="cd-main">
    <section class="cd-section index visible">
        <header>
            <div class="cd-title">
                <div id="hexafip-demo1"></div>

                <h1 class="intro-text">Hi! i am John. Visual Designer | Front End Engineer<span>&nbsp;</span></h1>

                <ul id="contact-me">
                    <li><a class="contact-twitter" href="https://twitter.com/johnthewilson"><i class="fa fa-twitter fa-3x"></i></a></li>
                    <li><a class="contact-github" href="https://github.com/johnthewilson/"><i class="fa fa-github fa-3x"></i></a></li>
                    <li><a class="contact-facebook" href="https://www.facebook.com/johnthewilson"><i class="fa fa-facebook fa-3x"></i></a></li>
                    <li><a class="contact-linked" href="https://www.linkedin.com/in/johnthewilson"><i class="fa fa-linkedin fa-3x"></i></a></li>
                    <li><a class="contact-mailto" href="mailto:johnthewilson@gmail.com"><i class="fa fa-envelope fa-3x"></i></a></li>
                    <li><a class="contact-resume" href="./Resume_John_2016.pdf" download><i class="fa fa-download fa-3x"></i></a></li>
                    <li><a class="contact-resume" href="http://codepen.io/johnthewilson/" download><i class="fa fa-codepen fa-3x"></i></a></li>
                </ul>


            </div>
            <!--<div class="frick" id="hexaflip-demo1"></div>-->
        </header>


    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="index"></div> <!-- lateral loading bar -->