<main class="cd-main">
    <section class="cd-section index visible" >
        <header>
            <div class="bio">
                <img src="/assets/img/john_web.png" alt="John">
                <p class="name"> John Wilson </p>
                <p class="bio-info">I'm a 26 year old Front End Developer, with a passion for clean design and great user experience currently based in Santa Clara, California.
                    I have strong JS skills and can utilize them to get the job done. I also have  backend experience using Node.js, Express.js, MongoDb, and MySql. When it comes to design I have very strong CSS skills along with great Visual Design skills.</p>
                <p><a class="contact-resume" href="./Resume_John_2016.pdf" download><i class="fa fa-download fa"></i> Download Resume</a></p>


                <ul class="social-links-items">
                    <li><a class="contact-twitter" href="https://twitter.com/johnthewilson"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a class="contact-github" href="https://github.com/johnthewilson/"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a class="contact-linked" href="https://www.linkedin.com/in/johnthewilson"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li></li>
                </ul>

            </div>
            <div class="bio-portfolio">
               <div class="place">
                   <ul id="skill">
                       <li><span class="bar graphic-design"></span><h3>Design</h3></li>
                       <li><span class="bar html-css"></span><h3>HTML-CSS-JAVASCRIPT</h3></li>
                       <li><span class="bar react"></span><h3>React(Ecosystem)</h3></li>
                       <li><span class="bar angular"></span><h3>AngularJS</h3></li>
                       <li><span class="bar wordpress"></span><h3>NodeJS Express MongoDB & MYSQL</h3></li>
                       <li><span class="bar project"></span><h3>Project Management</h3></li>
                   </ul>
               </div>

            </div>
        </header>


    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="index"></div> <!-- lateral loading bar -->