
<main class="cd-main">
    <section class="cd-section projects visible">
        <header>
            <ul class="projects-wrapper">
           <li> <a class="project-supply" href="http://supplyocean.com"><i class="fa fa-bullseye"></i> Supply Ocean</a></li>
                <li> <a class="project-rev" href="http://revmedia.in"><i class="fa fa-bullseye"></i> Rev Eye Technologies</a></li>
                <li> <a class="project-vish" href="http://wowsomeapp.com/"><i class="fa fa-bullseye"></i> Wowsome</a></li>
            </ul>

            <!--<a href="#projects-content" class="cd-scroll">Scroll Down</a>-->
        </header>
    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="projects"></div> <!-- lateral loading bar -->
