
<main class="cd-main">
    <section class="cd-section projects visible">
        <header>
            <ul class="projects-wrapper">
           <li> <a class="project-supply" href="http://supplyocean.com"><i class="fa fa-bullseye"></i> Supply Ocean</a></li>

                <li> <a class="project-vish" href="http://wowsomeapp.com/"><i class="fa fa-bullseye"></i> Wowsome</a></li>
                <li> <a class="project-rev" href="https://www.facebook.com/IntuitDeveloper/photos/ms.c.eJw9ztkNBDEIA9COVpx20n9jy8jDfCVPFgY0caNYyST9Bxmk0a3X8y~_rPI~_PVaMS0Yj15HEj3ryrnnxa1y3nmrKvMVv6aN88bU~_f52eX1QdaEeeiuG4Za8i9vpWNtPvaXd55D3nnvWZf3Pe~_sfrzy9Wf2~_~_U6w8H1UTQ.bps.a.657353967740955.1073741868.172941519515538/657867167689635/?type=3&theater"><i class="fa fa-bullseye"></i> Won DEVELOPER WEEK 2016 HACKATHON </a></li>
            </ul>

            <!--<a href="#projects-content" class="cd-scroll">Scroll Down</a>-->
        </header>
    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="projects"></div> <!-- lateral loading bar -->
