<main class="cd-main">
    <section class="cd-section services visible">
        <header>

                <section id="cd-timeline" class="cd-container">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                        <h2>Born</h2>
                            <span><i class="fa fa-calendar-times-o"></i> 1990</span>
                        <p>Yes Born</p>
                        <span class="cd-date"></span>
                    </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h2>Joined College</h2>
                            <span><i class="fa fa-calendar-times-o"></i> 2007</span>
                            <p>Loyola Academy</p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>Joined Google </h2>
                        <span><i class="fa fa-calendar-times-o"></i> 2010</span>
                        <p>Visual Designer</p>
                        <span class="cd-date"></span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h2>Braceat</h2>
                            <span><i class="fa fa-calendar-times-o"></i> 2013</span>
                            <p>UI Developer</p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h2>Masters</h2>
                            <span><i class="fa fa-calendar-times-o"></i> 2007</span>
                            <p>Computer Science at NPU</p>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->


                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">

                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
                            <h2>I am here.*</h2>
                            <span><i class="fa fa-calendar-times-o"></i> 2015 </span>
                            <span class="cd-date"></span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                </section> <!-- cd-timeline -->

        </header>

        <!--<div class="cd-content" id="services-content">-->
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae, similique voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias voluptas labore optio consequuntur sapiente pariatur libero nam temporibus. Laudantium!-->
            <!--</p>-->

            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae, similique voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias voluptas labore optio consequuntur sapiente pariatur libero nam temporibus. Laudantium!-->
            <!--</p>-->

            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae, similique voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias voluptas labore optio consequuntur sapiente pariatur libero nam temporibus. Laudantium!-->
            <!--</p>-->

            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae, similique voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias voluptas labore optio consequuntur sapiente pariatur libero nam temporibus. Laudantium!-->
            <!--</p>-->
        <!--</div> &lt;!&ndash; .cd-content &ndash;&gt;-->
    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="services"></div> <!-- lateral loading bar -->