/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url(http://fonts.gstatic.com/s/firasans/v5/QURAmFz4b80g324-oF-Uj4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Comfortaa', cursive;
  color: #83b0b9;
  background-color: #343943; }

a {
  color: #d35657;
  text-decoration: none; }

/* --------------------------------

Navigation

-------------------------------- */
.cd-side-navigation {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 74px;
  overflow: hidden; }

.cd-side-navigation::before {
  /* background color of the side navigation */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 4px);
  background-color: #131519; }

.cd-side-navigation ul {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.cd-side-navigation li {
  width: calc(100% - 4px); }

.cd-side-navigation a {
  display: block;
  position: relative;
  padding: 4em 0 1.5em;
  font-size: 1.2rem;
  text-align: center;
  color: #4a5261;
  transition: background-color 0.2s, color 0.2s; }

.cd-side-navigation a svg {
  /* this is the icon */
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 1.3em; }

.cd-side-navigation a svg * {
  transition: stroke 0.2s; }

.cd-side-navigation a::after {
  /* 4px line to the right of the item - visible on hover */
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
  background-color: #83b0b9;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none; }

.no-touch .cd-side-navigation a:hover {
  background-color: #08090b; }

.no-touch .cd-side-navigation a:hover::after {
  opacity: 1; }

.cd-side-navigation a.selected, .no-touch .cd-side-navigation a.selected:hover {
  background-color: #ffffff;
  color: #131519; }

.cd-side-navigation a.selected > svg *, .no-touch .cd-side-navigation a.selected:hover > svg * {
  stroke: #83b0b9; }

.cd-side-navigation li:nth-of-type(2) .selected > svg *,
.cd-side-navigation li:nth-of-type(2) .selected:hover > svg * {
  stroke: #d35657; }

.cd-side-navigation li:nth-of-type(3) .selected > svg *,
.cd-side-navigation li:nth-of-type(3) .selected:hover > svg * {
  stroke: #343943; }

.cd-side-navigation li:nth-of-type(4) .selected > svg *,
.cd-side-navigation li:nth-of-type(4) .selected:hover > svg * {
  stroke: #e4b162; }

.cd-side-navigation li:nth-of-type(2) a::after {
  background-color: #d35657; }

.cd-side-navigation li:nth-of-type(3) a::after {
  background-color: #343943; }

.cd-side-navigation li:nth-of-type(4) a::after {
  background-color: #e4b162; }

@media only screen and (min-width: 480px) {
  .cd-side-navigation {
    width: 94px; }
  .cd-side-navigation a {
    padding: 4em 0 1.5em;
    font-size: 1.3rem; }
  .cd-side-navigation a svg {
    top: 1.6em; } }

/* --------------------------------

 Main Content

-------------------------------- */
.cd-main {
  height: 100vh;
  overflow: hidden; }

.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-left: 70px;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 0s 0.5s;
  transition: transform 0s 0.5s; }

.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */
  overflow: hidden; }

.cd-section header {
  position: relative;
  height: 100%;
  width: 100%;
  background: #dae3ed;
  overflow-x: hidden; }

.cd-section.index header {
  overflow: hidden; }

.cd-section.services header {
  background-color: #d35657; }

.cd-section.projects header {
  background-color: #343943; }

.cd-section.contact header {
  background-color: #e4b162;
  overflow: hidden; }

.cd-section .cd-scroll {
  /* this is the arrow at the bottom of the header */
  display: block;
  position: absolute;
  bottom: 60px;
  left: calc(50vw - (74px - 4px)/2);
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  transition: -webkit-transform 0s 0.5s, visibility 0s 0.5s;
  transition: transform 0s 0.5s, visibility 0s 0.5s;
  -webkit-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow.svg") no-repeat center center; }

.cd-section.visible {
  /* this is the visible/selected section */
  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s; }

.cd-section.visible.index {
  overflow-y: hidden; }

.contact-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .contact-content::after {
    clear: both;
    content: "";
    display: table; }
  .contact-content .contact-twitter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-twitter:last-child {
      margin-right: 0; }
  .contact-content .contact-github {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-github:last-child {
      margin-right: 0; }
  .contact-content .contact-facebook {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-facebook:last-child {
      margin-right: 0; }
  .contact-content .contact-linked {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-linked:last-child {
      margin-right: 0; }
  .contact-content .contact-mailto {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-mailto:last-child {
      margin-right: 0; }
  .contact-content .contact-resume {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .contact-content .contact-resume:last-child {
      margin-right: 0; }

/*
Temporray space for projects*/
.projects-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .projects-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .projects-wrapper .projects-supply {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .projects-wrapper .projects-supply:last-child {
      margin-right: 0; }
  .projects-wrapper .projects-rev {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .projects-wrapper .projects-rev:last-child {
      margin-right: 0; }
  .projects-wrapper .projects-vish {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .projects-wrapper .projects-vish:last-child {
      margin-right: 0; }

.projects-wrapper {
  height: 80px;
  margin-top: 20%; }

.projects-wrapper li {
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 60px; }

/*
projects showcasing classes
*/
.contact-content {
  height: 80px;
  margin-top: 20%; }

.contact-content li {
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 60px; }

.fa-twitter:hover {
  color: #4DA7DE;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.fa-github:hover {
  color: #333333;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.fa-facebook:hover {
  color: #3E5B98;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.fa-linkedin:hover {
  color: #3371B7;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.fa-envelope:hover {
  color: #FFFFFF;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.fa-download:hover {
  color: #423e29;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1); }

.cd-section.visible .cd-scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
  transition: transform 0.3s 0.5s, visibility 0s 0s;
  -webkit-animation: cd-scroll-down 1.2s 0.9s;
  animation: cd-scroll-down 1.2s 0.9s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2; }

@media only screen and (min-width: 480px) {
  .cd-section {
    padding-left: 90px; }
  .cd-section .cd-scroll {
    left: calc(50vw - (94px - 4px)/2); } }

@-webkit-keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1); }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1); }
  100% {
    -webkit-transform: translateX(-50%) scale(1); } }

@keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1); }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); } }

.cd-title {
  position: absolute;
  top: 100%;
  left: 0;
  /* this prevents title from jumping when the section scroll bar is visible */
  width: calc(100vw - 90px);
  padding: 1em;
  color: #4B5362;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-80px);
  -ms-transform: translateY(-50%) translateX(-80px);
  transform: translateY(-50%) translateX(-80px);
  transition: -webkit-transform 0s 0.5s, opacity 0s 0.5s;
  transition: transform 0s 0.5s, opacity 0s 0.5s; }

.cd-title h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px; }

.cd-title.contact {
  top: -50%; }

.cd-title span {
  opacity: 0.6; }

.visible .cd-title {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  transition: transform 0.4s 0.3s, opacity 0.4s 0.3s; }

@media only screen and (min-width: 768px) {
  .cd-title h2 {
    font-size: 5rem; } }

.cd-content {
  padding: 2em 0;
  background-color: #ebebeb; }

.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999999; }

@media only screen and (min-width: 768px) {
  .cd-content {
    padding: 4em 0; }
  .cd-content p {
    font-size: 1.6rem; } }

/* --------------------------------

 Loading Bar

-------------------------------- */
#cd-loading-bar {
  position: fixed;
  z-index: 2;
  left: 70px;
  width: 4px;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

#cd-loading-bar.index {
  background-color: #83b0b9; }

#cd-loading-bar.services {
  background-color: #d35657; }

#cd-loading-bar.projects {
  background-color: #343943; }

#cd-loading-bar.contact {
  background-color: #e4b162; }

#cd-loading-bar.loading {
  visibility: visible; }

@media only screen and (min-width: 480px) {
  #cd-loading-bar {
    left: 90px; } }

/*
*
Code to create the typing effect
*/
@-webkit-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

h1 {
  font-family: Consolas, monospace; }

h1 {
  position: relative;
  float: left;
  font-size: 100%;
  margin-left: 50%;
  margin-bottom: 40%; }

h1 span {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: #dae3ed;
  border-left: .1em solid black;
  box-sizing: border-box;
  -webkit-animation: typing 10s steps(60, end), blink-caret 1s step-end infinite;
  -moz-animation: typing 10s steps(60, end), blink-caret 1s step-end infinite; }

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* --------------------------------

Main components

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; } }

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture {
  background: #474A4A; }

.cd-timeline-img.cd-movie {
  background: #474A4A; }

.cd-timeline-img.cd-location {
  background: #474A4A; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  color: grey;
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: 0.8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem; }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem; }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem; } }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white; }
  .cd-timeline-content .cd-read-more {
    float: left; }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

/* Header Style */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2); }

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block; }

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  float: left;
  display: block; }

/* Demo Buttons Style */
.codrops-demos {
  float: right;
  padding-top: 10px; }

.codrops-demos a {
  display: inline-block;
  margin: 10px;
  color: #666;
  font-weight: 700;
  line-height: 30px;
  border-bottom: 4px solid transparent; }

.codrops-demos a:hover {
  color: #000;
  border-color: #000; }

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  color: #aaa;
  border-color: #aaa; }

.support-note {
  clear: both; }

.support-note span {
  color: #ac375d;
  font-size: 16px;
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 5px 0; }

#choose-time {
  margin: 80px auto;
  width: 300px;
  text-align: center; }

#set-button,
#submit {
  background-color: #888;
  color: #fff;
  border-radius: 3px;
  padding: 2px 6px;
  padding-bottom: 4px;
  cursor: pointer;
  margin-left: 5px;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  font-size: 20px; }

#set-button:hover,
#submit:hover {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none; }

.demo {
  margin: 0 auto;
  -webkit-filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(30px 30px 23px rgba(0, 0, 0, 0.3)); }

#hexaflip-demo1,
#hexaflip-demo2 {
  margin-bottom: 4rem; }

.frick {
  position: absolute;
  margin-right: 0px;
  top: 2%;
  right: 2%;
  z-index: 10;
  background-color: #575757;
  opacity: .9; }

#hexaflip-demo1 .hexaflip-cube,
#hexaflip-demo2 .hexaflip-cube {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }

#hexaflip-demo1 .hexaflip-cube .hexaflip-left,
#hexaflip-demo2 .hexaflip-cube .hexaflip-left,
#hexaflip-demo1 .hexaflip-cube .hexaflip-right,
#hexaflip-demo2 .hexaflip-cube .hexaflip-right {
  background-color: #222 !important; }

#hexaflip-demo1 .hexaflip-cube > div,
#hexaflip-demo2 .hexaflip-cube > div {
  font-weight: 100;
  text-shadow: none; }

#hexaflip-demo1 .hexaflip-cube > div:nth-child(1n+1),
#hexaflip-demo2 .hexaflip-cube > div:nth-child(1n+1) {
  background-color: #83b0b9; }

#hexaflip-demo1 .hexaflip-cube > div:nth-child(2n+2),
#hexaflip-demo2 .hexaflip-cube > div:nth-child(2n+2) {
  background-color: #D35657; }

#hexaflip-demo1 .hexaflip-cube > div:nth-child(3n+3),
#hexaflip-demo2 .hexaflip-cube > div:nth-child(3n+3) {
  background-color: #E4B162; }

#hexaflip-demo1 .hexaflip-cube > div:nth-child(4n+4),
#hexaflip-demo2 .hexaflip-cube > div:nth-child(4n+4) {
  background-color: #eee;
  color: #222; }

#hexaflip-demo2 {
  margin-bottom: 6rem; }

#hexaflip-demo5 .hexaflip-cube > div {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 900 !important;
  letter-spacing: -3px;
  text-shadow: none; }

#hexaflip-demo5 + div {
  margin-top: 80px;
  text-align: center; }

.buttons {
  position: relative;
  top: 230px;
  width: 640px;
  margin: 0 auto;
  z-index: 100; }

.disc-button {
  background-color: #222;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-weight: 100;
  font-size: 24px;
  cursor: pointer; }

.disc-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

#prev {
  float: left; }

#next {
  float: right; }

#output {
  line-height: 2; }

.hexaflip-cube {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: move;
  cursor: -webkit-grab;
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s; }

.hexaflip-cube.no-tween {
  transition-duration: 0; }

.hexaflip-cube > div {
  width: 100%;
  overflow: hidden;
  height: 100.5%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: cover;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.5; }

.hexaflip-left,
.hexaflip-right {
  background-color: #555 !important; }

.hexaflip-timepicker .hexaflip-cube:last-child > div:nth-child(odd) {
  background-color: #ff575b; }
