<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>
  <div class="fullscreen-bg">
    <video loop muted autoplay  class="fullscreen-bg__video">
      <source src="/assets/img/home-hero.webm" type="video/webm">
      <source src="/assets/img/home-hero.mp4" type="video/mp4">

    </video>
  </div>

  {{ content }}
  <div><p class="foot-note"><span id="for-hire">FOR HIRE</span> &copy; 2016 John Wilson</p></div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/assets/js/typed.min.js"></script>
  <script src="/assets/js/modernizr.js"></script>
  <script src="/assets/js/velocity.min.js"></script>
  <script src="/assets/js/slideranimation.js"></script>
  <script src="/assets/js/hexaflip.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>

